* {
    image-rendering: pixelated;
    font-family: 'Tiny5';
}

body {
    background-image: URL("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #000000;
}

h2 {
    color: #000;
    text-shadow: 2px 2px 0px rgb(206, 200, 196);
    margin-top: 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 275px;
    background-color: rgb(251, 255, 240);
    background-clip: padding-box;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    border-image-slice: 6 6 6 6;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-source: url("/public/border.png");
    border-style: solid; 
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

.input, .dropdown {
    width: 65%;
    margin-bottom: 20px;
    border-color: #aca99a;
    border-width: 1px;
    border-style: solid;
    box-shadow: 3px 3px 0px rgb(206, 200, 196);
}

.input:focus {
    outline: none;
}

.dropdown {
    background-color: #e9e5d5;
    color: #969280;
    border-style: solid;
    border-width: 1px;
    border-color: #aca99a;
    padding: 7px;
    box-shadow: 3px 3px 0px rgb(206, 200, 196);
}

.dropdown:hover {
    background-color: #cecbbb;
}

.label {
    width: 65%;
    text-align: left;
    margin-bottom: 5px;
    text-shadow: 2px 2px 0px rgb(206, 200, 196);
}

.button {
    width: 65%;
    border-width: 1;
    border-style: solid;
    border-color: #31ad6f;
    background-color: rgb(113, 230, 171);
    padding: 5px;
    font-family: 'Jersey 10';
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-stroke-width: 1px;
    text-stroke-color: black;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 3px 3px 0px rgb(206, 200, 196);
}

.button:hover {
    cursor: pointer;
    translate: 0 -5px;

}

.textDOM {
    font-size: 15px;
}