body {
    background-color: #f0f0f0;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgb(124, 124, 124);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
    width: 100%;
    margin-top: 200px;
}

.input {
    width: 65%;
    margin-bottom: 15px;
}

.label {
    width: 65%;
    text-align: left;
    margin-bottom: 5px;
}

.button {
    width: 65%;
    background-color: rgb(68, 163, 104);
    border-width: 0;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}