body {
    background-color: #e0ded5;
    color: #88867a;
}

h2 {
    margin-top: 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 275px;
    background-color: rgb(245, 245, 236);
    /* box-shadow: 0 2px 5px rgb(170, 186, 187); */
    border-color:#afac97;
    border-width: 1px;
    border-style: dashed;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";
    width: 100%;
    margin-top: 200px;
}

.input, .dropdown {
    width: 65%;
    margin-bottom: 20px;
    border-color: #aca99a;
    border-width: 1px;
    border-style: solid;
}

.input:focus {
    outline: none;
}

.dropdown {
    background-color: #e0ded5;
    color: #88867a;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #aca99a;
    padding: 7px;
}

.dropdown:hover {
    background-color: #cecbbb;
}

.label {
    width: 65%;
    text-align: left;
    margin-bottom: 5px;
}

.button {
    width: 65%;
    border-width: 0;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

#buttonCurrency {
    background-color: rgb(171, 223, 142);
}

#buttonUnit {
    background-color: rgb(236, 190, 104);
}

#buttonTemperature {
    background-color: rgb(92, 211, 211);
}

#buttonTime {
    background-color: rgb(207, 108, 91);
}

.textDOM {
    font-size: 20px;
}